# Project 2

## Setup

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import from_json, col, floor, window, concat_ws
from pyspark.sql.types import StructType, StringType, DoubleType, TimestampType

In [2]:
# Initialize SparkSession with the Kafka JAR
spark = SparkSession.builder \
    .appName("KafkaTaxiStream") \
    .getOrCreate()

print("✅ Spark Session created successfully!")

✅ Spark Session created successfully!

In [3]:
# Define Schema for Incoming Data
schema = StructType() \
    .add("medallion", StringType()) \
    .add("hack_license", StringType()) \
    .add("pickup_datetime", TimestampType()) \
    .add("dropoff_datetime", TimestampType()) \
    .add("trip_time_in_secs", DoubleType()) \
    .add("trip_distance", DoubleType()) \
    .add("pickup_longitude", DoubleType()) \
    .add("pickup_latitude", DoubleType()) \
    .add("dropoff_longitude", DoubleType()) \
    .add("dropoff_latitude", DoubleType()) \
    .add("payment_type", StringType()) \
    .add("fare_amount", DoubleType()) \
    .add("surcharge", DoubleType()) \
    .add("mta_tax", DoubleType()) \
    .add("tip_amount", DoubleType()) \
    .add("tolls_amount", DoubleType())

In [4]:
# Read Kafka stream
taxi_stream = spark \
    .readStream \
    .format("kafka") \
    .option("kafka.bootstrap.servers", "kafka:9092") \
    .option("subscribe", "taxi-trips") \
    .option("startingOffsets", "earliest") \
    .load()

# Parse JSON
parsed_taxi_stream = taxi_stream.selectExpr("CAST(value AS STRING) as json_str") \
    .select(from_json(col("json_str"), schema).alias("data")) \
    .select("data.*")

# Query 0: Data Cleansing and setup

In [5]:
# remove malformed and invalid data
cleaned_taxi_stream = parsed_taxi_stream \
    .filter("medallion IS NOT NULL AND hack_license IS NOT NULL") \
    .filter("pickup_longitude != 0.0 AND pickup_latitude != 0.0") \
    .filter("dropoff_longitude != 0.0 AND dropoff_latitude != 0.0")

In [6]:
query = cleaned_taxi_stream.writeStream \
    .outputMode("append") \
    .format("memory") \
    .queryName("taxi_trips_cleaned") \
    .start()

In [20]:
# View cleansed stream in notebook
spark.sql("SELECT * FROM taxi_trips_cleaned").show(truncate=False)

+--------------------------------+--------------------------------+-------------------+-------------------+-----------------+-------------+----------------+---------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+
|medallion                       |hack_license                    |pickup_datetime    |dropoff_datetime   |trip_time_in_secs|trip_distance|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|payment_type|fare_amount|surcharge|mta_tax|tip_amount|tolls_amount|
+--------------------------------+--------------------------------+-------------------+-------------------+-----------------+-------------+----------------+---------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+
|07290D3599E7A0D62097A346EFCC1FB5|E7750A37CAB07D0DFF0AF7E3573AC141|2013-01-01 00:00:00|2013-01-01 00:02:00|120.0            |0.44         |-73.956528      |40.716976      |-73.96244        |40.715008       |CSH         |3.5        |0.5      |0.5    |0.0       |4.5         |
|FD39403FDE46B6C753DDD6518A4365D7|2B36D07A27BB35D7DF7170C83EEAA196|2013-01-01 00:01:00|2013-01-01 00:02:00|60.0             |0.34         |-74.003197      |40.708313      |-74.005608       |40.706551       |CRD         |3.5        |0.5      |0.5    |0.8       |5.3         |
|08E54F4C460720DDE43460E354486FBC|33276CA24A915CBD668AF96873D07883|2013-01-01 00:00:00|2013-01-01 00:02:44|163.0            |0.5          |-73.999878      |40.743343      |-74.003708       |40.74828        |CRD         |4.0        |0.5      |0.5    |1.0       |6.0         |
|0CEBE42EAF42C338052FAE8D61612C58|CC7A4176549BA819E07D4A0463F87D2E|2013-01-01 00:00:00|2013-01-01 00:03:00|180.0            |1.56         |-74.00975       |40.706432      |-73.971985       |40.794716       |CSH         |6.5        |0.5      |0.5    |0.0       |7.5         |
|5CC9B3C9725FCD7FAE490B4C614D57EE|9F4A98FA581907FC25B5C1A9A5361365|2013-01-01 00:00:00|2013-01-01 00:03:00|180.0            |0.64         |-74.001404      |40.72261       |-73.998177       |40.729485       |CSH         |4.5        |0.5      |0.5    |0.0       |5.5         |
|BE4A6F08A4E9CA26DEBBD511A15E5D89|B6B300DB052529A0A9A238DE3C5C29E4|2013-01-01 00:00:00|2013-01-01 00:03:00|180.0            |0.9          |-73.946136      |40.781349      |-73.944977       |40.790836       |CSH         |4.5        |0.5      |0.5    |0.0       |5.5         |
|DFBFA82ECA8F7059B89C3E8B93DAA377|CF8604E72D83840FBA1978C2D2FC9CDB|2013-01-01 00:02:00|2013-01-01 00:03:00|60.0             |0.39         |-73.981544      |40.781475      |-73.979439       |40.784386       |CRD         |3.0        |0.5      |0.5    |0.7       |4.7         |
|1920DC2DE67BFC92C700DAE5A0C80E21|6728CFBAFBF5F724562E68EF62D2AE52|2013-01-01 00:00:02|2013-01-01 00:03:18|195.0            |0.7          |-73.9785        |40.741291      |-73.976997       |40.732452       |CSH         |4.5        |0.5      |0.5    |0.0       |5.5         |
|02B072BC2EE4ECC6960A29B645B3B448|F5DA86FBBA8D8C5627CA54CC9EC356F4|2013-01-01 00:01:40|2013-01-01 00:03:30|110.0            |0.5          |-73.994308      |40.74612       |-74.002373       |40.748615       |CSH         |4.0        |0.5      |0.5    |0.0       |5.0         |
|DD467ED2E7DDB5C8B9B918469604E54F|1D7876BD692018A5BE422C420A5148EA|2013-01-01 00:01:00|2013-01-01 00:04:00|180.0            |0.95         |-73.976753      |40.750706      |-73.990089       |40.750729       |CSH         |5.0        |0.5      |0.5    |0.0       |6.0         |
|D242F08982116B6C6EBEF33FBCC14513|014FCFEF7DD164992FCD8492DF7A6133|2013-01-01 00:00:46|2013-01-01 00:04:06|199.0            |0.5          |-73.994049      |40.718227      |-73.987206       |40.720482       |CSH         |4.0        |0.5      |0.5    |0.0       |5.0         |
|784131EEAAFACD3B839E9B48C051FC2C|DB805A7306FBF4874053E9BD200B85D9|2013-01-01 00:00:16|2013-01-01 00:04:11|234.0            |0.8          |-73.957649      |40.717785      |-73.966522       |40.714657       |CSH         |4.5        |0.5      |0.5    |0.0       |5.5         |
|5191086622F86A17B025EDBD077E8BB0|B4D0A14D777E4284466C886C1C2A55C4|2013-01-01 00:04:06|2013-01-01 00:04:14|8.0              |0.0          |-73.984787      |40.764076      |-73.984749       |40.764126       |NOC         |2.5        |0.5      |0.5    |0.0       |3.5         |
|8402CBED165898F314C50BC57314CDFF|0DB1416B58D5527FD168A981F8048C05|2013-01-01 00:02:12|2013-01-01 00:04:29|137.0            |0.3          |-73.99939       |40.739437      |-74.000252       |40.74268        |CSH         |3.5        |0.5      |0.5    |0.0       |4.5         |
|15162141EA7436635C696F5BC023D2D6|CDCB7729DE07243726FF7BB0BD5D06BF|2013-01-01 00:00:14|2013-01-01 00:01:37|83.0             |0.2          |-73.975441      |40.749657      |-73.977333       |40.751991       |CSH         |3.0        |0.5      |0.5    |0.0       |4.0         |
|025B98A22ED771118FC0EB44A0D3BD9D|7D89374F8E98F30A19F2381EC71A16BA|2013-01-01 00:00:40|2013-01-01 00:01:40|60.0             |0.3          |-74.005165      |40.720531      |-74.003929       |40.725655       |CSH         |3.0        |0.5      |0.5    |0.0       |4.0         |
|B3BDE5D1263CF981544F3E0BD6530FCF|EDB2DE00B2C4087FE570AF794D62F87B|2013-01-01 00:00:43|2013-01-01 00:04:36|232.0            |1.5          |-73.979073      |40.74432       |-73.976311       |40.728676       |CSH         |6.5        |0.5      |0.5    |0.0       |7.5         |
|558A89AF05E85098911A9B3D97B03956|430CD41965CB25FACD5E33986FEA6034|2013-01-01 00:00:25|2013-01-01 00:04:40|255.0            |0.2          |-73.989082      |40.74831       |-73.990425       |40.749916       |CSH         |4.5        |0.5      |0.5    |0.0       |5.5         |
|E79E74C15D90CD93B1564E91E3D64765|145038A0CC99D6982D8001BE668154CA|2013-01-01 00:01:00|2013-01-01 00:02:00|60.0             |0.45         |-73.95208       |40.790169      |-73.948921       |40.794323       |CSH         |3.5        |0.5      |0.5    |0.0       |4.5         |
|FD39403FDE46B6C753DDD6518A4365D7|2B36D07A27BB35D7DF7170C83EEAA196|2013-01-01 00:01:00|2013-01-01 00:02:00|60.0             |0.34         |-74.003197      |40.708313      |-74.005608       |40.706551       |CRD         |3.5        |0.5      |0.5    |0.8       |5.3         |
+--------------------------------+--------------------------------+-------------------+-------------------+-----------------+-------------+----------------+---------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+
only showing top 20 rows

# Query 1: Frequent Routes

## Part 1

In [8]:
from pyspark.sql.functions import udf

In [9]:
reference_lat = 41.474937
reference_lon = -74.913585
total_cells = 300

# Cell sizes from http://www.debs2015.org/call-grand-challenge.html
cell_size_lat_deg = 0.004491556  # 500m south
cell_size_lon_deg = 0.005986     # 500m east

In [10]:
# Main function to calculate how far the cell location is from the origin
def get_cell_id(lat, lon):
    if lat is None or lon is None:
        return None
    try:
        dx = int((lon - reference_lon) / cell_size_lon_deg) + 1 # how many cells east
        dy = int((reference_lat - lat) / cell_size_lat_deg) + 1 # how many cells south
        if 1 <= dx <= total_cells and 1 <= dy <= total_cells: # validate
            return f"{dx}.{dy}"
        else:
            return None
    except:
        return None

# create spark udf
get_cell_udf = udf(get_cell_id, StringType())

In [11]:
# Take cleaned taxi stream data and convert pickup and dropoff locations into start and end cell IDs
stream_with_cells = cleaned_taxi_stream \
    .withColumn("start_cell_id", get_cell_udf("pickup_latitude", "pickup_longitude")) \
    .withColumn("end_cell_id", get_cell_udf("dropoff_latitude", "dropoff_longitude")) \
    .filter("start_cell_id IS NOT NULL AND end_cell_id IS NOT NULL")

In [12]:
# Count the number of rides for each route in the last 30 minutes 
frequent_routes = stream_with_cells \
    .withWatermark("dropoff_datetime", "30 minutes") \
    .groupBy(
        window(col("dropoff_datetime"), "30 minutes"),
        col("start_cell_id"),
        col("end_cell_id")
    ) \
    .count() \
    .select("start_cell_id", "end_cell_id", "count") \
    .orderBy(col("count").desc())

In [13]:
# store results
frequent_routes.writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("top_routes") \
    .start()

In [21]:
spark.sql("SELECT * FROM top_routes LIMIT 10").show(truncate=False)

+-------------+-----------+-----+
|start_cell_id|end_cell_id|count|
+-------------+-----------+-----+
|155.161      |155.161    |13   |
|156.161      |156.161    |9    |
|158.159      |157.161    |9    |
|156.163      |155.162    |8    |
|156.158      |156.158    |8    |
|156.163      |157.162    |8    |
|158.159      |157.162    |8    |
|156.163      |156.163    |8    |
|155.162      |155.162    |7    |
|154.160      |152.164    |7    |
+-------------+-----------+-----+

## Part 2

In [23]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [27]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
import time

reference_lat = 41.474937
reference_lon = -74.913585
total_cells = 300
cell_size_lat_deg = 0.004491556  # 500m south
cell_size_lon_deg = 0.005986     # 500m east

# Cell ID calculation function
def get_cell_id(lat, lon):
    if lat is None or lon is None:
        return None
    try:
        dx = int((lon - reference_lon) / cell_size_lon_deg) + 1  # how many cells east
        dy = int((reference_lat - lat) / cell_size_lat_deg) + 1  # how many cells south
        if 1 <= dx <= total_cells and 1 <= dy <= total_cells:  # validate
            return f"{dx}.{dy}"
        else:
            return None
    except:
        return None

# Create UDF
get_cell_udf = udf(get_cell_id, StringType())

# Function to calculate delay
def process_batch(df, epoch_id):
    # Current time for delay calculation
    output_time = time.time() * 1000  # Convert to milliseconds
    
    if df.isEmpty():
        return
    
    # Get the latest event that triggered the update
    latest_event = df.orderBy(col("processing_time").desc()).first()
    
    # Calculate delay
    delay = output_time - latest_event["processing_time"]
    
    # Get current top 10 routes
    top_routes = spark.sql("""
        SELECT start_cell_id, end_cell_id, count
        FROM frequent_routes
        ORDER BY count DESC
        LIMIT 10
    """).collect()
    
    # Prepare the result with the 10 most frequent routes
    result = {
        "pickup_datetime": latest_event["pickup_datetime"],
        "dropoff_datetime": latest_event["dropoff_datetime"],
        "delay": delay
    }
    
    # Add all 10 routes (or NULL if fewer than 10 available)
    for i in range(10):
        if i < len(top_routes):
            result[f"start_cell_id_{i+1}"] = top_routes[i]["start_cell_id"]
            result[f"end_cell_id_{i+1}"] = top_routes[i]["end_cell_id"]
        else:
            result[f"start_cell_id_{i+1}"] = None
            result[f"end_cell_id_{i+1}"] = None
    
    # Create a DataFrame with the result
    result_df = spark.createDataFrame([result])
    
    # Append to results table
    result_df.write.mode("append").saveAsTable("top_routes_results")

# Add processing time column for delay calculation - fixed syntax
cleaned_taxi_stream = cleaned_taxi_stream.withColumn(
    "processing_time", unix_timestamp() * 1000
)

# Process stream with cell IDs
stream_with_cells = cleaned_taxi_stream \
    .withColumn("start_cell_id", get_cell_udf("pickup_latitude", "pickup_longitude")) \
    .withColumn("end_cell_id", get_cell_udf("dropoff_latitude", "dropoff_longitude")) \
    .filter("start_cell_id IS NOT NULL AND end_cell_id IS NOT NULL")

# Calculate frequent routes - store in memory table
frequent_routes_query = stream_with_cells \
    .withWatermark("dropoff_datetime", "30 minutes") \
    .groupBy(
        window(col("dropoff_datetime"), "30 minutes"),
        col("start_cell_id"),
        col("end_cell_id")
    ) \
    .count() \
    .select(
        col("start_cell_id"),
        col("end_cell_id"),
        col("count")
    ) \
    .writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("frequent_routes_new") \
    .start()

# Create a trigger to monitor changes in the stream
# This will trigger the output whenever any new data comes in that could affect the top 10
change_monitor = stream_with_cells \
    .withWatermark("dropoff_datetime", "30 minutes") \
    .writeStream \
    .foreachBatch(process_batch) \
    .outputMode("update") \
    .trigger(processingTime="1 second") \
    .start()

In [28]:
# Query to view the results
spark.sql("""
    SELECT 
        pickup_datetime, dropoff_datetime,
        start_cell_id_1, end_cell_id_1,
        start_cell_id_2, end_cell_id_2,
        start_cell_id_3, end_cell_id_3,
        start_cell_id_4, end_cell_id_4,
        start_cell_id_5, end_cell_id_5,
        start_cell_id_6, end_cell_id_6,
        start_cell_id_7, end_cell_id_7,
        start_cell_id_8, end_cell_id_8,
        start_cell_id_9, end_cell_id_9,
        start_cell_id_10, end_cell_id_10,
        delay
    FROM top_routes_results
    ORDER BY dropoff_datetime DESC
    LIMIT 10
""").show(truncate=False)

+-------------------+-------------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+----------------+--------------+----------------+
|pickup_datetime    |dropoff_datetime   |start_cell_id_1|end_cell_id_1|start_cell_id_2|end_cell_id_2|start_cell_id_3|end_cell_id_3|start_cell_id_4|end_cell_id_4|start_cell_id_5|end_cell_id_5|start_cell_id_6|end_cell_id_6|start_cell_id_7|end_cell_id_7|start_cell_id_8|end_cell_id_8|start_cell_id_9|end_cell_id_9|start_cell_id_10|end_cell_id_10|delay           |
+-------------------+-------------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+----------------+--------------+----------------+
|2013-01-01 00:04:52|2013-01-01 00:10:35|155.161        |155.161      |156.161        |156.161      |156.163        |155.162      |156.163        |156.163      |158.159        |157.161      |156.158        |156.158      |158.159        |157.162      |155.162        |155.162      |160.157        |161.156      |157.161         |157.161       |635.7138671875  |
|2013-01-01 00:00:00|2013-01-01 00:02:00|155.161        |155.161      |156.161        |156.161      |156.163        |155.162      |156.163        |156.163      |158.159        |157.161      |156.158        |156.158      |158.159        |157.162      |160.157        |161.156      |155.162        |155.162      |157.161         |157.161       |953.974853515625|
+-------------------+-------------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+---------------+-------------+----------------+--------------+----------------+

## Part 2

# Query 2: Profitable Areas

## Part 1

In [15]:
from pyspark.sql import functions as F
from pyspark.sql.functions import when
from pyspark.sql.functions import col, expr
from pyspark.sql.functions import current_timestamp
from pyspark.sql.functions import window, max as max_

In [16]:
# divide query 1 degrees by 2
cell_size_lat_deg = 0.002245778   # 250m south
cell_size_lon_deg = 0.002993      # 250m east
total_cells = 600

get_cell_udf = udf(get_cell_id, StringType())

In [17]:
# Create profit stream steps by calculating start cell, profit, apply 15-min watermark and compute median profit.
profit_stream = cleaned_taxi_stream \
    .withColumn("start_cell_id", get_cell_udf("pickup_latitude", "pickup_longitude")) \
    .filter("start_cell_id IS NOT NULL") \
    .withColumn("profit", when((col("fare_amount") >= 0) & (col("tip_amount") >= 0), col("fare_amount") + col("tip_amount"))) \
    .withWatermark("dropoff_datetime", "15 minutes") \
    .groupBy(window("dropoff_datetime", "15 minutes"), col("start_cell_id")) \
    .agg(
        expr("percentile_approx(profit, 0.5)").alias("median_profit"),
        max_("pickup_datetime").alias("pickup_datetime"),
        max_("dropoff_datetime").alias("dropoff_datetime")
    ) \
    .selectExpr("start_cell_id as cell_id", "median_profit", "window.end as profit_window_end", "pickup_datetime", "dropoff_datetime")

profit_stream.writeStream \
    .format("memory") \
    .queryName("profit_stream") \
    .outputMode("complete") \
    .trigger(processingTime="30 seconds") \
    .start()

In [18]:
# Create empty_taxies_stream by saving pickup table 
cleaned_taxi_stream \
    .select("medallion", "pickup_datetime") \
    .filter("medallion IS NOT NULL") \
    .withWatermark("pickup_datetime", "30 minutes") \
    .writeStream \
    .format("memory") \
    .queryName("pickup_table") \
    .outputMode("append") \
    .start()

pickup_static = spark.read.table("pickup_table")

# get all drop off in last 30 monites
dropoffs = cleaned_taxi_stream \
    .withColumn("dropoff_cell_id", get_cell_udf("dropoff_latitude", "dropoff_longitude")) \
    .filter("dropoff_cell_id IS NOT NULL") \
    .select("medallion", "dropoff_datetime", "dropoff_cell_id") \
    .withWatermark("dropoff_datetime", "30 minutes")

# calculate empty taxies based on datetimes
empty_taxis = dropoffs.alias("d").join(
    pickup_static.alias("p"),
    (col("d.medallion") == col("p.medallion")) & (col("p.pickup_datetime") > col("d.dropoff_datetime")),
    how="left_anti"
)

# calculate empty taxes per cell
empty_taxis_per_cell = empty_taxis \
    .groupBy(window("dropoff_datetime", "30 minutes"), col("dropoff_cell_id")) \
    .agg(expr("approx_count_distinct(medallion)").alias("empty_taxis")) \
    .selectExpr("dropoff_cell_id as cell_id", "empty_taxis", "window.end as empty_window_end")

#read to memory
empty_taxis_per_cell.writeStream \
    .format("memory") \
    .queryName("empty_taxis_stream") \
    .outputMode("complete") \
    .trigger(processingTime="30 seconds") \
    .start()

In [19]:
# join together
def process_batch(_, __):
    spark.sql("""
        SELECT 
            p.pickup_datetime, p.dropoff_datetime, p.cell_id AS profitable_cell_id,
            e.empty_taxis AS empty_taxies_in_cell, 
            p.median_profit AS median_profit_in_cell,
        CASE 
            WHEN e.empty_taxis = 0 THEN NULL 
            ELSE p.median_profit / e.empty_taxis 
            END AS profitability_of_cell
        FROM profit_stream p
        JOIN empty_taxis_stream e ON p.cell_id = e.cell_id
        ORDER BY profitability_of_cell DESC
        LIMIT 10

    """).show(truncate=False, n=50)

cleaned_taxi_stream.selectExpr("CAST(NULL AS STRING) as test") \
    .writeStream \
    .foreachBatch(process_batch) \
    .outputMode("update") \
    .trigger(processingTime="30 seconds") \
    .start()

+---------------+----------------+------------------+--------------------+---------------------+---------------------+
|pickup_datetime|dropoff_datetime|profitable_cell_id|empty_taxies_in_cell|median_profit_in_cell|profitability_of_cell|
+---------------+----------------+------------------+--------------------+---------------------+---------------------+
+---------------+----------------+------------------+--------------------+---------------------+---------------------+

+---------------+----------------+------------------+--------------------+---------------------+---------------------+
|pickup_datetime|dropoff_datetime|profitable_cell_id|empty_taxies_in_cell|median_profit_in_cell|profitability_of_cell|
+---------------+----------------+------------------+--------------------+---------------------+---------------------+
+---------------+----------------+------------------+--------------------+---------------------+---------------------+

+---------------+----------------+------------------+--------------------+---------------------+---------------------+
|pickup_datetime|dropoff_datetime|profitable_cell_id|empty_taxies_in_cell|median_profit_in_cell|profitability_of_cell|
+---------------+----------------+------------------+--------------------+---------------------+---------------------+
+---------------+----------------+------------------+--------------------+---------------------+---------------------+

+-------------------+-------------------+------------------+--------------------+---------------------+---------------------+
|pickup_datetime    |dropoff_datetime   |profitable_cell_id|empty_taxies_in_cell|median_profit_in_cell|profitability_of_cell|
+-------------------+-------------------+------------------+--------------------+---------------------+---------------------+
|2013-01-01 00:24:00|2013-01-01 00:25:00|296.326           |1                   |72.0                 |72.0                 |
|2013-01-01 00:11:00|2013-01-01 00:11:00|296.314           |1                   |63.0                 |63.0                 |
|2013-01-01 00:11:30|2013-01-01 00:12:37|293.337           |1                   |49.65                |49.65                |
|2013-01-01 00:10:46|2013-01-01 00:27:35|379.370           |1                   |41.5                 |41.5                 |
|2013-01-01 00:06:17|2013-01-01 00:06:57|338.277           |1                   |37.5                 |37.5                 |
|2013-01-01 00:08:17|2013-01-01 00:27:13|308.351           |1                   |32.0                 |32.0                 |
|2013-01-01 00:07:06|2013-01-01 00:24:40|325.306           |1                   |30.0                 |30.0                 |
|2013-01-01 00:03:00|2013-01-01 00:26:00|330.315           |1                   |28.3                 |28.3                 |
|2013-01-01 00:05:00|2013-01-01 00:25:00|314.335           |1                   |25.5                 |25.5                 |
|2013-01-01 00:08:19|2013-01-01 00:23:15|311.360           |1                   |25.4                 |25.4                 |
+-------------------+-------------------+------------------+--------------------+---------------------+---------------------+

+-------------------+-------------------+------------------+--------------------+---------------------+---------------------+
|pickup_datetime    |dropoff_datetime   |profitable_cell_id|empty_taxies_in_cell|median_profit_in_cell|profitability_of_cell|
+-------------------+-------------------+------------------+--------------------+---------------------+---------------------+
|2013-01-01 00:24:00|2013-01-01 00:25:00|296.326           |1                   |72.0                 |72.0                 |
|2013-01-01 00:11:00|2013-01-01 00:11:00|296.314           |1                   |63.0                 |63.0                 |
|2013-01-01 00:11:30|2013-01-01 00:12:37|293.337           |1                   |49.65                |49.65                |
|2013-01-01 00:10:46|2013-01-01 00:27:35|379.370           |1                   |41.5                 |41.5                 |
|2013-01-01 00:06:17|2013-01-01 00:06:57|338.277           |1                   |37.5                 |37.5                 |
|2013-01-01 00:08:17|2013-01-01 00:27:13|308.351           |1                   |32.0                 |32.0                 |
|2013-01-01 00:07:06|2013-01-01 00:24:40|325.306           |1                   |30.0                 |30.0                 |
|2013-01-01 00:03:00|2013-01-01 00:26:00|330.315           |1                   |28.3                 |28.3                 |
|2013-01-01 00:05:00|2013-01-01 00:25:00|314.335           |1                   |25.5                 |25.5                 |
|2013-01-01 00:08:19|2013-01-01 00:23:15|311.360           |1                   |25.4                 |25.4                 |
+-------------------+-------------------+------------------+--------------------+---------------------+---------------------+

+-------------------+-------------------+------------------+--------------------+---------------------+---------------------+
|pickup_datetime    |dropoff_datetime   |profitable_cell_id|empty_taxies_in_cell|median_profit_in_cell|profitability_of_cell|
+-------------------+-------------------+------------------+--------------------+---------------------+---------------------+
|2013-01-01 00:24:00|2013-01-01 00:25:00|296.326           |1                   |72.0                 |72.0                 |
|2013-01-01 00:11:00|2013-01-01 00:11:00|296.314           |1                   |63.0                 |63.0                 |
|2013-01-01 00:11:30|2013-01-01 00:12:37|293.337           |1                   |49.65                |49.65                |
|2013-01-01 00:10:46|2013-01-01 00:27:35|379.370           |1                   |41.5                 |41.5                 |
|2013-01-01 00:06:17|2013-01-01 00:06:57|338.277           |1                   |37.5                 |37.5                 |
|2013-01-01 00:08:17|2013-01-01 00:27:13|308.351           |1                   |32.0                 |32.0                 |
|2013-01-01 00:07:06|2013-01-01 00:24:40|325.306           |1                   |30.0                 |30.0                 |
|2013-01-01 00:03:00|2013-01-01 00:26:00|330.315           |1                   |28.3                 |28.3                 |
|2013-01-01 00:05:00|2013-01-01 00:25:00|314.335           |1                   |25.5                 |25.5                 |
|2013-01-01 00:08:19|2013-01-01 00:23:15|311.360           |1                   |25.4                 |25.4                 |
+-------------------+-------------------+------------------+--------------------+---------------------+---------------------+

+-------------------+-------------------+------------------+--------------------+---------------------+---------------------+
|pickup_datetime    |dropoff_datetime   |profitable_cell_id|empty_taxies_in_cell|median_profit_in_cell|profitability_of_cell|
+-------------------+-------------------+------------------+--------------------+---------------------+---------------------+
|2013-01-01 00:24:00|2013-01-01 00:25:00|296.326           |1                   |72.0                 |72.0                 |
|2013-01-01 00:11:00|2013-01-01 00:11:00|296.314           |1                   |63.0                 |63.0                 |
|2013-01-01 00:11:30|2013-01-01 00:12:37|293.337           |1                   |49.65                |49.65                |
|2013-01-01 00:10:46|2013-01-01 00:27:35|379.370           |1                   |41.5                 |41.5                 |
|2013-01-01 00:06:17|2013-01-01 00:06:57|338.277           |1                   |37.5                 |37.5                 |
|2013-01-01 00:08:17|2013-01-01 00:27:13|308.351           |1                   |32.0                 |32.0                 |
|2013-01-01 00:07:06|2013-01-01 00:24:40|325.306           |1                   |30.0                 |30.0                 |
|2013-01-01 00:03:00|2013-01-01 00:26:00|330.315           |1                   |28.3                 |28.3                 |
|2013-01-01 00:05:00|2013-01-01 00:25:00|314.335           |1                   |25.5                 |25.5                 |
|2013-01-01 00:08:19|2013-01-01 00:23:15|311.360           |1                   |25.4                 |25.4                 |
+-------------------+-------------------+------------------+--------------------+---------------------+---------------------+